# ========
# for Development
# --------
export DEV_CONFIG_DIR=config.development
export DEV_CREDENTIALS_DIR=${DEV_CONFIG_DIR}/credentials
export DEV_UNIQUE_ID="$(cat ${DEV_CONFIG_DIR}/app.uuid.development.txt)"
export DEV_CLOUDSDK_CORE_PROJECT_DEFAULT="$(cat ${DEV_CONFIG_DIR}/app.cloudsdk-core-project.development.txt)"
export DEV_GOOGLE_APPLICATION_CREDENTIALS_DEFAULT="$(cat ${DEV_CREDENTIALS_DIR}/gcp-credentials.json)"
export DEV_GOOGLE_CLOUD_STORAGE_BUCKET_DEFAULT="dev-${DEV_UNIQUE_ID}"
export DEV_AWS_DEFAULT_REGION='us-east-1'
export DEV_AWS_DEFAULT_ACCESS_KEY="$(tail -1 ${DEV_CREDENTIALS_DIR}/aws-credentials.csv | cut -d, -f3)"
export DEV_AWS_DEFAULT_SECRET_ACCESS_KEY="$(tail -1 ${DEV_CREDENTIALS_DIR}/aws-credentials.csv | cut -d, -f4)"
export DEV_AMAZON_S3_BUCKET_DEFAULT="dev-${DEV_UNIQUE_ID}"
# ========

# ========
# for App Global
# --------
# You can generate it by `uuidgen` or other tools.
export APP_UNIQUE_ID="${DEV_UNIQUE_ID}"
# ========

# ========
# BFF
# --------
export BFF_PRIVATE_KEY_PEM_STRING="$(cat ${DEV_CREDENTIALS_DIR}/key.pem)"
export BFF_PUBLIC_KEY_PEM_STRING="$(cat ${DEV_CREDENTIALS_DIR}/pubkey.pem)"
export BFF_MASTER_SECRET_STRING="$(cat ${DEV_CREDENTIALS_DIR}/master-secret.txt)"
# export BFF_CONFIG_SOURCE_URI="$(cat ${DEV_CREDENTIALS_DIR}/signed-uri.txt)"
# export BFF_CONFIG_SOURCE_GOOGLE_CLOUD_STORAGE_BUCKET="${DEV_GOOGLE_CLOUD_STORAGE_BUCKET_DEFAULT}"
export BFF_CONFIG_SOURCE_GOOGLE_CLOUD_STORAGE_FILENAME="bff/config.json"
export BFF_CREADENTIALS_CONFIG_GOOGLE_CLOUD_STORAGE="${DEV_GOOGLE_APPLICATION_CREDENTIALS_DEFAULT}"
# export BFF_CONFIG_SOURCE_AMAZON_S3_ENDPOINT="another-service.example.com"
# export BFF_CONFIG_SOURCE_AMAZON_S3_SIGNATURE_VERSION=2
# export BFF_CONFIG_SOURCE_AMAZON_S3_BUCKET="${DEV_AMAZON_S3_BUCKET_DEFAULT}"
export BFF_CONFIG_SOURCE_AMAZON_S3_FILENAME="bff/config.json"
export BFF_CREADENTIALS_CONFIG_AMAZON_S3_ACCESS_KEY="${DEV_AWS_DEFAULT_ACCESS_KEY}"
export BFF_CREADENTIALS_CONFIG_AMAZON_S3_SECRET_ACCESS_KEY="${DEV_AWS_DEFAULT_SECRET_ACCESS_KEY}"
# ========
